<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="IdpReplyUrl" value="https://sitefinitysite.com/sitefinity/signin-custom" />
    <add key="IdpRealm" value="urn:windows" />
  </appSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>

  <system.webServer>
    <security>
      <authentication>
        <windowsAuthentication enabled="true" useKernelMode="true">
            <extendedProtection tokenChecking="None" />
        </windowsAuthentication>
      </authentication>
    </security>
  </system.webServer>
</configuration>
